
*{
  box-sizing: border-box;
}
.container-fluid{
  height:90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  overflow:auto;

  
}
/* Small screens - MOBILE */
@media only screen { } /* Define mobile styles - Mobile First */
 
@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */
 
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */
 
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
 
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
 
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
 
/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */
 
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
 
/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */


.card {
  margin-bottom: 20px;
  
  
  box-shadow: 0 8px 18px 0 rgba(252, 2, 140, 0.2), 0 8px 18px 0 rgba(248, 1, 182, 0.19);
  animation: myfirst 5s linear 5s infinite alternate;
}

@keyframes myfirst {
  0%   {background-color:rgb(6, 204, 249); left:0px; top:0px;}
  25%  {background-color:yellow; left:20px; top:0px;}
  50%  {background-color:rgb(87, 87, 250); left:20px; top:20px;}
  75%  {background-color:rgb(5, 255, 5); left:0px; top:20px;}
  100% {background-color:rgb(254, 130, 130); left:0px; top:0px;}
}

.tx{
  color: white;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Courgette', cursive;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px rgb(4, 254, 21), 0 0 20px rgb(16, 252, 4), 0 0 30px rgb(7, 241, 15) 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 20px #ff1177, 0 0 10px #ff1177, 0 0 15px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 4px #ff1177, 0 0 5px #ff1177, 0 0 25px #ff1177;
  }
}

.btn{
  background: rgb(8,66,198);
  background: linear-gradient(180deg, rgba(8,66,198,1) 0%, rgba(0,212,255,1) 100%, rgba(45,245,204,1) 100%);
  
}

.icon{
  height:10%;
  width:100vw;
  background-image: linear-gradient(rgb(57, 51, 51), rgb(44, 44, 57));
}
ul.socialIcons {
  
  
  text-align: center;
}

.socialIcons li {
  background-color: yellow;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;
}

.socialIcons li a {
  display: block;
  padding: 0.5em;
  min-width: 6.28571429em;
  max-width: 1.28571429em;
  height: 1.28571429em;
  white-space: nowrap;
  line-height: .3em; /*it's working only when you write text with icon*/
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
  text-align: center;
}

.socialIcons li i {
  margin-right: 0.5em;
}

.socialIcons li:hover a {
  max-width: 200px;
  padding-right: 1em;
}

.socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}

.socialIcons .twitter {
  background-color: #00aced;
  box-shadow: 0 0 16px #00aced;
}

.socialIcons .instagram {
  background-color: #cd486b;
  box-shadow: 0 0 16px #cd486b;
}

.socialIcons .pinterest {
  background-color: #c92228;
  box-shadow: 0 0 16px #c92228;
}

.socialIcons .youtube {
  background-color: #f91717;
  box-shadow: 0 0 16px #f94949;
}
